.webdiv{width:100%; height: 10px}
a:link, a:visited, a:active { color: #27b; text-decoration: none; }
a:hover { text-decoration: underline; }
header { background: #bce; display: block; padding: 10px; }
header a:link, header a:visited, header a:active { color: #444; }
main { padding: 0 20px; }
li { margin-bottom: 10px; }
pre { background: #ddd; padding: 10px; border-radius: 10px; }

tr.buttons{
    border: none;
}
div.mainmenu{
    float: left; 
    height: 40px;
    width: 180px;
    align-items: center; 
    text-align: center;
}

.link{
    cursor: pointer; 
    color: rgb(0,0,255);
}

#rightnav {
    float: right;
    margin: 10px;
}


#content { padding: 10px; }
.modlist {
    list-style-type: none;
    margin: 0; padding: 10px 0 0 0;
}
.modlist li {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    float: left;
    position: relative;
    width: 90%;
}
.modlist img {
    width: 120px;
    float: left;
    margin: 0 15px 15px 0;
}
.modlist .edit {
    position: absolute;
    bottom: 10px; right: 10px;
}
.sizebar {
    font-size: 66%;
    width: 200px;
    border: 1px solid #ccc;
    display: inline-block;
}
.sizebar-fill {
    background: #bce;
    padding: 1px;
}

.noimg1 { width: 118px; height: 118px; border: 1px solid red; background: #fcc; float: left; margin-right: 10px; }
.noimg2 { width: 118px; height: 118px; display: table-cell; vertical-align: middle; text-align: center; }

.editform { float: left; border: 1px dotted lightgray; margin-right: 20px;}
.editform td { padding: 5px; }
.editform label { font-weight: bold; }
.editform .label { text-align: right; vertical-align: top; }
.editform select, textarea, input { width: 300px; }

.editnav { list-style-type: none; }
.editnav li { padding: 10px; }

.error { color: #933; font-weight: bold; }
.error input { background: #fdd; }

.rsync {
    display: block;
    width: 700px;
    font-size: 100%;
    font-weight: bold;
    border: 1px solid gray;
    padding: 3px 10px;
    margin: 3px 3px 3px 20px;
}

td {
    border-style: solid;
    border-width: 1px;
}